.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body_wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.gray_back {
  font-style: normal;
  background-color: #fafafa;

  height: 100%;
  width: 100%;
}

.white_back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  padding: 24px 15px;
  margin: 24px 15px 0px 15px;

  background-color: white;
}

.emp_form {
  display: flex;
  flex-wrap: wrap;

  padding: 10px;
}

.form_el {
  display: flex;
  flex-direction: column;

  padding: 10px 0px;
  padding-right: 60px;
}

.form_input,
.form_area {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}

.form_input {
  padding: 5px 12px;

  width: 200px;
  height: 32px;
}

.form_area {
  width: 400px;
  height: 74px;
}

.btns {
  display: flex;
  align-self: flex-end;
  padding: 10px;
}

.save_btn,
.cancel_btn {
  cursor: pointer;
  height: 32px;

  margin-left: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.save_btn {
  width: 62px;

  color: white;

  background: #1890ff;
  box-sizing: border-box;
  border: 0px;
  border-radius: 2px;
}

.cancel_btn {
  width: 75px;

  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.save_btn:hover,
.save_btn:focus {
  background-color: #188fffc0;
}

.cancel_btn:hover,
.cancel_btn:focus {
  background-color: #d9d9d9;
}
