<div class="sider">
  <div class="menu">
    <div class="menu_el">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/dashboard.svg"
        alt="Dashboard"
      />
      <span class="menu_el_title">Dashboard</span>
    </div>
    <div class="menu_el">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/employees.svg"
        alt="Employees"
      />
      <span class="menu_el_title">Employees</span>
    </div>
    <div class="menu_el">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/projects.svg"
        alt="Projects"
      />
      <span class="menu_el_title">Projects</span>
    </div>
  </div>

  <div class="trigger">
    <img
      class="trigger_img"
      src="../../../../../assets/images/sider/trigger.svg"
      alt="Trigger"
    />
  </div>
</div>
