<div class="sider">
  <div class="menu">
    <div class="menu_el" *ngIf="!isDashboardPage" (click)="toDashboardPage()">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/dashboard.svg"
        alt="Dashboard"
      />
      <span class="menu_el_title">Dashboard</span>
    </div>
    <div
      class="menu_el_active"
      *ngIf="isDashboardPage"
      (click)="toDashboardPage()"
    >
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/dashboard.svg"
        alt="Dashboard"
      />
      <span class="menu_el_title">Dashboard</span>
    </div>

    <div class="menu_el" *ngIf="!isEmployeePage" (click)="toEmployeesPage()">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/employees.svg"
        alt="Employees"
      />
      <span class="menu_el_title">Employees</span>
    </div>
    <div
      class="menu_el_active"
      *ngIf="isEmployeePage"
      (click)="toEmployeesPage()"
    >
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/employees.svg"
        alt="Employees"
      />
      <span class="menu_el_title">Employees</span>
    </div>

    <div class="menu_el" *ngIf="!isProjectPage" (click)="toProjectsPage()">
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/projects.svg"
        alt="Projects"
      />
      <span class="menu_el_title">Projects</span>
    </div>
    <div
      class="menu_el_active"
      *ngIf="isProjectPage"
      (click)="toProjectsPage()"
    >
      <img
        class="menu_img"
        src="../../../../../assets/images/sider/projects.svg"
        alt="Projects"
      />
      <span class="menu_el_title">Projects</span>
    </div>
  </div>

  <div class="trigger">
    <img
      class="trigger_img"
      src="../../../../../assets/images/sider/trigger.svg"
      alt="Trigger"
    />
  </div>
</div>
