.sider_wrap {
  height: 100%;
}

.sider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 208px;
  top: 47px;
  bottom: 1px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.menu {
  padding-top: 15px;
}

.menu_el,
.menu_el_active {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding-left: 16px;
  padding-bottom: 25px;
}

.menu_el_active,
.menu_el_active {
  color: #1890ff;
  filter: invert(60%) sepia(95%) saturate(4728%) hue-rotate(192deg)
    brightness(102%) contrast(101%);
}

.menu_img {
  width: 14px;
  height: 14px;
}

.menu_el_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  padding-left: 10px;
}

.trigger {
  padding: 0px 16px;

  width: 208px;
  height: 40px;

  box-shadow: inset 0px 1px 0px #f0f0f0;
}

.trigger_img {
  cursor: pointer;
  padding-top: 12px;
}
