<header>
  <div class="header_wrap">
    <div class="title_wrap">
      <img
        class="title_img"
        src="../../../../../assets/images/auth/logo.svg"
        alt="Ant Design"
      />
      <label class="title_name">Ant Design</label>
    </div>

    <div class="toolbar">
      <img
        class="search_img"
        src="../../../../../assets/images/header/search.svg"
        alt="Search"
      />
      <img
        class="question_img"
        src="../../../../../assets/images/header/question.svg"
        alt="Question"
      />
      <img
        class="bell_img"
        src="../../../../../assets/images/header/bell.svg"
        alt="Bell"
      />
      <div class="user_info">
        <img
          class="user_img"
          src="../../../../../assets/images/header/user_icon.svg"
          alt="User"
        />
        <span class="username">{{ email }}</span>
      </div>
      <img
        class="language_img"
        src="../../../../../assets/images/header/language.svg"
        alt="Language"
      />
    </div>
  </div>
</header>
